<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog of some of the top companies in America's top industries</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  {% block headers %}{% endblock %}
</head>
<body>
  <div class="container">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
            <li><p>{{ user.name }}</p></li>
            <li><a href="/signout">Sign Out</a></li>
            {% else %}
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>
