{% extends "base.html" %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}
<div class="jumbotron text-center">
  <p>Welcome to the coolest catalog of the best companies. Crowd sourced by you!</p>
</div>
{% for industry in industries %}
<div class="panel-heading">
  <h3 class="panel-title"><a href="/industry/{{ industry.id }}">{{ industry.name }}</a></h3>
</div>
  {% for company in companies[industry.name] %}
  <div class="panel-body">
    <h4><a href="industry/{{ industry.id }}/company/{{ company.id }}">{{ company.name }}</a></h4>
    <p>{{ company.description }}</p>
  </div>
  {% endfor %}
{% endfor %}
{% endblock %}
